.localizacao {
  background-image: url("./local.png");
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #4463d5;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 8px;
  padding-left: 1.5rem;
}

.localizacao:hover {
    opacity: 0.7;
}
